.CarouselPage {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.carousel {
    width: 100%;
    height: 80vh;
}

.carousel .swiper-wrapper {
    width: 100% !important;
    height: 100% !important;
}

.carousel .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
}

.carousel img {
    max-width: none;

    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 8px;
}