
.carousel{
    position: relative; /* Vị trí tương đối so với vị trí gốc của nó */
    margin-top: 85px;
    img{
        width: 70%;
        height: 75dvh;
        object-position: bottom;
        object-fit: cover;
    //  padding-left: 500px;
     border-radius: 60px;
     border-top-left-radius: 60px;
     margin-left: 280px;
     margin-top: 10px;
    }
}

