.product-card {
    width: 80%; /* Thẻ sản phẩm sẽ chiếm 80% chiều rộng cột */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid #d9c7c7;
    display: flex;
    flex-direction: column;
    height: 80%;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  