.ant-btn{
    width: 40%;
}
.user-manage-container {
    padding: 20px;
    background-color: #f0f2f5;
  
    .ant-space {
      display: flex;
      justify-content: space-between;
    }
  
    .editable-row td {
      padding: 12px 16px;
    }
  
    .ant-btn-link {
      color: #1890ff;
    }
  
    .ant-btn-danger {
      color: red;
    }
  
    .ant-table-thead > tr > th {
      background-color: #fafafa;
      font-weight: bold;
    }
  }
  