.seller-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Chiều cao toàn màn hình */
}

.dashboard-container {
  display: flex;
  flex: 1;
  overflow: hidden; /* Đảm bảo nội dung không bị tràn */
}

.sidebar {
  width: 250px;
  background-color: #001529; /* Màu nền của sidebar */
  color: white;
  height: 100%; /* Chiều cao toàn màn hình */
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f0f2f5;
  overflow-y: auto; /* Cho phép cuộn nếu nội dung quá dài */
}
