.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #001529;

  .top-section {
    background-color: #000; /* Màu nền đen */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa avatar và text */
    justify-content: center;
    border-bottom: 1px solid #444; /* Đường phân cách với phần dưới */

    .avatar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      height: 150px;

      .ant-avatar {
        border: 2px solid #fff; /* Viền trắng quanh avatar */
        margin-bottom: 20px; /* Khoảng cách dưới avatar */
        width: 100px; /* Đặt chiều rộng cố định */
        height: 100px; /* Đặt chiều cao cố định để giữ tỉ lệ hình tròn */
        border-radius: 100%; /* Đảm bảo hình ảnh là hình tròn */
        overflow: hidden; /* Ẩn phần dư thừa của hình ảnh */
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover; /* Giúp ảnh lấp đầy khung */
      }
      

      h2 {
        margin: 0;
        font-size: 1.2rem;
        color: #fff;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .bottom-section {
    background-color: white; /* Màu trắng cho phần dưới */
    flex: 1;
    padding-top: 20px;

    .ant-menu {
      background-color: transparent;
      color: #000;

      .ant-menu-item,
      .ant-menu-submenu-title {
        color: #000;
        &:hover {
          background-color: #e6f7ff;
        }
      }

      .ant-menu-item-selected {
        background-color: #e6f7ff;
      }
    }
  }
}
