/* Styles for the order list */
.order-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-left {
  display: flex;
  align-items: center;
}

.order-image {
  margin-right: 20px;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.customer-name {
  font-weight: bold;
  margin-right: 10px;
}

.view-icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.status {
  display: inline-block;
  margin-bottom: 20px; /* Khoảng cách giữa trạng thái và các nút bên dưới */
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}

.status.delivered { background-color: #4caf50; }
.status.pendingdelivery { background-color: #ff9800; }
.status.accepted { background-color: #03a9f4; }
.status.canceled { background-color: #f44336; }

/* Pagination styles */
.pagination-custom .ant-pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  transition: all 0.3s;
  box-sizing: border-box;
}

.pagination-custom .ant-pagination-item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.pagination-custom .ant-pagination-item:hover {
  border-color: #1890ff;
}

.pagination-custom .ant-pagination-item-active {
  border-color: #1890ff;
  background-color: #e6f7ff;
}

.pagination-custom .ant-pagination-item-active a {
  color: #1890ff;
}

.pagination-custom .ant-pagination-prev,
.pagination-custom .ant-pagination-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
}

.pagination-custom .ant-pagination-prev:hover,
.pagination-custom .ant-pagination-next:hover {
  border-color: #1890ff;
}

.pagination-custom .ant-pagination-prev .ant-pagination-item-link,
.pagination-custom .ant-pagination-next .ant-pagination-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
