.cancel-button {
  background-color: gray; // Màu cho nút Cancel
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; // Khoảng cách giữa các nút
}
