.seller-page {
  text-align: center;
  padding: 20px;

  .seller-details-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 30px;

    .seller-logo-container {
      background-color: #ffffff;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;

      .seller-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }

    .seller-details {
      margin-left: 40px;
      text-align: left;
      flex-grow: 1;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }

      .seller-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 15px;

        span {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 15px;

          & > span {
            color: #ff9900;
          }

          svg {
            color: #1890ff;
          }
        }
      }

      .seller-introduction {
        margin-top: 20px;
        font-size: 14px;

        h3 {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 1.5rem;
          color: #333;
        }

        p {
          margin-top: 10px;
          font-size: 14px;
          line-height: 1.6;
        }
      }
    }
  }

  h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #ff5e57;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Cấu trúc 4-4
    gap: 60px; // Tăng khoảng cách giữa các sản phẩm
    justify-content: center;
    padding: 20px;
  }

  .product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &:hover {
      transform: translateY(-5px);
    }

    .product-image {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .product-name {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .product-price {
      font-size: 1.1rem;
      color: #ff5e57;
      margin-bottom: 10px;
    }
  }

  .pagination-nav {
    margin-top: 40px; // Tăng khoảng cách trên cho phân trang
    display: flex;
    justify-content: center;

    .pagination {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 20px; // Tạo khoảng cách lớn giữa các nút phân trang

      .page-item {
        cursor: pointer;

        &.active .page-link {
          background-color: #ff5e57;
          color: white;
        }

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        .page-link {
          padding: 10px 15px; // Tăng kích thước nút phân trang
          border: 1px solid #ddd;
          text-decoration: none;
          color: #333;
          border-radius: 5px;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
}
